{{ $prs := (split (.Get "prNums") ",") }}
<!-- Golang amirite -->
{{ if and (eq (len $prs) 1) (eq (index $prs 0) "") }}
  {{ $prs = slice }}
{{ end }}
{{ $prLinks := slice }}
{{ range $index, $element := $prs }}
{{ $prLinks = $prLinks | append (printf "https://github.com/PCSX2/pcsx2/pull/%s" $element) }}
{{ end }}

{{ $shas := (split (.Get "shas") ",") }}
{{ if and (eq (len $shas) 1) (eq (index $shas 0) "") }}
  {{ $shas = slice }}
{{ end }}
{{ $commitLinks := slice }}
{{ range $index, $element := $shas }}
{{ $commitLinks = $commitLinks | append (printf "https://github.com/PCSX2/pcsx2/commit/%s" $element) }}
{{ end }}

{{ $authors := (split (.Get "authors") ",") }}
{{ $authorLinks := slice}}
{{ range $index, $element := $authors }}
{{ $authorLinks = $authorLinks | append (printf "https://github.com/%s" $element) }}
{{ end }}

<p class="progress-report-heading">
  {{ range $index, $element := $prLinks }}
  <a href="{{ $element }}">#{{ index $prs $index }}</a>
  {{ end }}
  {{ range $index, $element := $commitLinks }}
  <a href="{{ $element }}">#{{ substr (index $shas $index) 0 6 }}</a>
  {{ end }}
  {{ title (.Get "title") | markdownify }}
  <em>
    By
    {{ range $index, $element := $authorLinks }}
    <a href="{{ $element }}">{{ index $authors $index }}</a>
    {{ end }}
  </em>
</p>
