<!DOCTYPE html>
<html>
<script>
    // Do this asap to reduce style popping
    var savedTheme = localStorage.getItem('pcsx2-theme');
    if (savedTheme !== undefined && savedTheme === "theme-light") {
        document.documentElement.className = "theme-light";
    } else {
        document.documentElement.className = "theme-dark";
    }
</script>
{{- partial "head.html" . -}}

<body>
    <div class="d-flex flex-column min-vh-100">
        {{- partial "navbar.html" . -}}
        <div id="content" class="container-fluid flex-fill {{ if strings.HasSuffix .Permalink " docs/" }}hide-overflow{{
            end }}">
            {{- block "main" . }}{{- end }}
        </div>
        {{ if not (strings.HasSuffix .Permalink "docs/") }}
        {{- partial "footer.html" . -}}
        {{ end }}
    </div>
    <!-- javascript libraries that are used on every page -->
    <script defer src="/js/vendor/mdb@3.10.1/mdb.min.js"></script>
    <script defer src="/js/vendor/jquery@3.6.0/jquery.min.js"></script>
    <script defer src="/js/theme.js"></script>
    <script src="/js/vendor/vanilla-lazyload@17.5.0/lazyload.min.js"></script>
    <script src="/js/vendor/cookieconsent@3.1.1/cookieconsent.min.js"></script>
    <script>
        const lazyLoadInstance = new LazyLoad({});
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#000"
                },
                "button": {
                    "background": "#f1d600"
                }
            }
        });
    </script>
</body>
</html>
