<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div class="d-flex flex-column min-vh-100">
            {{- partial "navbar.html" . -}}
            <div id="content" class="container-fluid flex-fill {{ if strings.HasSuffix .Permalink "docs/" }}hide-overflow{{ end }}">
            {{- block "main" . }}{{- end }}
            </div>
            {{ if not (strings.HasSuffix .Permalink "docs/") }}
                {{- partial "footer.html" . -}}
            {{ end }}
            {{- partial "script.html" . -}}
        </div>
    </body>
</html>
