{{ define "main" }}
<div class="container">
  <div class="row mt-5">
    {{ $currURL := .RelPermalink }}
    <div class="col-6 col-md-auto mb-2 mt-2">
      <a role="button" class="btn btn-tags{{ if strings.HasSuffix $currURL "/blog/" }} active{{ end }}" href="/blog">
        All Categories
      </a>
    </div>
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
    <div class="col-6 col-md-auto mb-2 mt-2">
      <a role="button" class="btn btn-tags{{ if strings.HasSuffix $currURL (printf "/%s/" $name) }} active{{ end }}" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </div>
    {{ end }}
    {{ end }}
  </div>
  <div class="row mt-4 mb-3">
    <div class="col-12">
      <div class="row">
        {{ $paginator := .Paginate (where .Pages "Type" "blog") }}
        {{ range $index, $page := $paginator.Pages }}
        {{ partial "post-card.html" (dict "context" $ "post" . "easeDirection" "right" "alternateBackground" true) }}
        {{ if eq ( mod (add $index 1) 5 ) 0 }}
          {{- partial "ads/horizontal-col.html" . -}}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      {{ template "_internal/pagination.html" . }}
    </div>
    
  </div>
</div>
{{ end }}
