{{ define "main" }}
<div class="container">
  <div class="row mt-3 mt-md-5">
    {{ if .Params.toc }}
    <div class="col-12 col-md-3">
      <aside class="toc-wrapper">
        {{ partial "toc" . }}
      </aside>
    </div>
    {{ end }}
    {{ if .Params.toc }}
    <div class="col-12 col-md-9">
    {{ else }}
    <div class="col-12">
    {{ end }}
      <div class="row mb-3">
        <h1>{{ .Title }}</h1>
        {{ partial "metadata.html" . }}
      </div>
      <div class="row mb-3">
        <div class="col-12 markdown-content">
          {{ partial "link-hash.html" .Content }}
          {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
          {{ if and (ne .Lastmod .PublishDate) (gt .Lastmod .PublishDate) }}
          <div class="row">
            <div class="col-md-auto">
              <strong class="tertiary-color">Last Update:&nbsp;</strong>
              <time datetime="{{ .Lastmod }}">
                {{ .Lastmod.Format $dateFormat }}
              </time>
              <div style="font-size: small; color: grey;">
                {{ .GitInfo.Subject}}
              </div>
            </div>
          </div>
          {{ end }}
          {{ $related := .Site.RegularPages.Related . | first 5 }}
          {{ with $related }}
          <div class="row">
            <div class="col-md-auto">
              <h2 id="related">Related posts</h2>
              <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ partial "ads/horizontal-row.html" }}
    </div>
  </div>
</div>
{{ end }}
{{ define "additionalScripts" }}
<script defer src="/js/comparisons.js"></script>
<script defer src="/js/vendor/chart.js@3.7.1/chart.min.js"></script>
<script defer src="/js/vendor/lodash@4.17.21/lodash.min.js"></script>
<script defer src="/js/chart-drawing.js"></script>
{{ end }}
