{{ define "main" }}
<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-12">
      <h1>{{ .Title }}</h1>
      {{ partial "metadata.html" . }}
    </div>
  </div>
  <div class="row mb-3">
    <aside>
      {{ partial "toc" . }}
    </aside>
  </div>
  <div class="row mb-3">
    <div class="col-12 markdown-content">
      {{ .Content }}
    </div>
  </div>
  {{ partial "ads/horizontal-row.html" }}
</div>
{{ end }}
{{ define "additionalScripts" }}
<script defer src="/js/comparisons.js"></script>
<script defer src="/js/vendor/chart.js@3.7.1/chart.min.js"></script>
<script defer src="/js/chart-drawing.js"></script>
{{ end }}
