.home-header
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  padding-right: 0 !important
  padding-left: 0 !important
  clip-path: polygon(0 0, 0 100%, 100% calc(100% - 10vw), 100% 0);
  &-contents
    flex-direction: column
    align-items: center
    display: flex
    grid-area: 1/1/1/1
    color: white
    z-index: 999

.splash-title
  color: var(--heading-color-white)
  font-weight: 700
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

.splash-description
  font-weight: 700
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  font-style: italic
  text-align: center

#splash-video
  width: 100%
  height: 100%
  object-fit: cover
  filter: opacity(75%)
  @media (min-width: 768px)
    object-fit: contain


.stroke-text
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;

#splash-screen-gui
  top: 10%
  right: 0
  position: absolute

#splash-screen
  grid-area: 1/1/1/1
  background: black;
  &.slow-performance
    background-image: url('#{$base-url}img/splash-poster.webp')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
