.theme-dark {
  --main-bg-color: #16161a;
  --secondary-bg-color: #242629;
  --tertiary-bg-color: #0b0b0d;
  --heading-color: #fffffe;
  --text-color: #94a1b2;
  --primary-color: #51368D;
  --primary-color-dimmed: #262558;
  --link-color: #7f5af0;
  --tertiary-color: #2cb67d;
  --error-color: #f25042;
  --theme-icon-color: #f4ff6e;
  --loading-icon-filter: invert(99%) sepia(91%) saturate(0%) hue-rotate(116deg) brightness(106%) contrast(100%); }

.theme-light {
  --main-bg-color: #fffffe;
  --secondary-bg-color: #d8eefe;
  --tertiary-bg-color: #0b0b0d;
  --heading-color: #094067;
  --heading-color-white: #fffffe;
  --text-color: #5f6c7b;
  --primary-color: #3da9fc;
  --primary-color-dimmed: #e3f3ff;
  --link-color: #3da9fc;
  --tertiary-color: #ef4565;
  --error-color: #f25042;
  --theme-icon-color: #3da9fc;
  --loading-icon-filter: filter: invert(0%) sepia(83%) saturate(7500%) hue-rotate(29deg) brightness(107%) contrast(113%); }

:root {
  --controller-triangle: #00d4ca;
  --controller-circle: #ff5653;
  --controller-cross: #8dbbf2;
  --controller-square: #f887d6;
  /* compat colors */
  --compat-perfect: #BA68C8;
  --compat-playable: #9CCC65;
  --compat-ingame: #29B6F6;
  --compat-menus: #FBC02D;
  --compat-intro: #F57C00;
  --compat-nothing: #D32F2F; }

.vh-50 {
  height: 50vh; }

.vh-60 {
  height: 60vh; }

.flex-gap * {
  margin: 0.5rem; }

.no-horizontal-margins {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0; }

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Lexend', sans-serif; }

h1, h2 {
  font-weight: 700;
  color: var(--heading-color); }

details > div {
  margin-top: 0.5em; }

#content {
  padding: 0; }

.secondary-bg-color {
  background-color: var(--secondary-bg-color); }

.tertiary-color {
  color: var(--tertiary-color); }

.tertiary-bg-color {
  background-color: var(--tertiary-bg-color); }

.polygon {
  position: relative; }
  .polygon::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color) !important;
    background: -webkit-linear-gradient(10deg, var(--primary-color-dimmed), var(--primary-color)) !important;
    background: linear-gradient(10deg, var(--primary-color-dimmed), var(--primary-color)) !important;
    transform: skewY(-5deg) scale(1) !important;
    z-index: -1; }
  .polygon.bg-color::before {
    background: var(--main-bg-color) !important; }

.vGap100 {
  height: 100px; }

.text-truncate {
  white-space: unset; }

.btn {
  display: flex;
  align-items: center;
  font-weight: 700; }
  .btn > i {
    margin: 0;
    margin-right: 0.5em; }
  .btn:hover {
    color: var(--main-bg-color); }
  .btn.bold {
    font-weight: 700; }
  .btn.controller {
    color: #000; }
    .btn.controller:hover {
      color: #585858; }
    .btn.controller.triangle {
      background-color: var(--controller-triangle); }
    .btn.controller.circle {
      background-color: var(--controller-circle); }
    .btn.controller.cross {
      background-color: var(--controller-cross); }
    .btn.controller.square {
      background-color: var(--controller-square); }

.spinner-border {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  margin-right: 1em; }

.btn-primary {
  color: var(--heading-color);
  background-color: var(--primary-color); }
  .btn-primary:focus, .btn-primary.focus, .btn-primary:hover {
    background-color: var(--primary-color); }

.btn-outline-info:hover {
  color: var(--primary-color); }

button .material-icons-outlined {
  margin-left: 0; }

.navbar {
  background-color: var(--main-bg-color);
  border-bottom-color: var(--tertiary-color);
  border-bottom-width: 2px;
  border-bottom-style: solid; }

.nav-icon {
  padding-right: 0.5em; }

.nav-link {
  display: inline-block; }

.navbar-brand {
  align-items: center; }
  .navbar-brand.scrolled {
    visibility: visible; }

.navbar-brand, .nav-link {
  font-weight: 700;
  color: var(--heading-color) !important;
  transition: color .05s ease-in-out; }
  .navbar-brand:hover, .nav-link:hover {
    color: var(--link-color) !important;
    transition: color .05s ease-in-out; }

.navbar-toggler {
  padding-left: 0; }
  .navbar-toggler > i {
    color: var(--heading-color); }

.logo-text {
  margin-left: 0.25em;
  margin-bottom: 0; }

.brand-logo {
  height: 2em; }

#language-dropdown {
  padding: 0;
  background-color: unset;
  box-shadow: none;
  font-size: 1rem; }

#language-dropdown-container {
  margin-right: 1rem; }

.theme-icon {
  color: var(--theme-icon-color); }

.ad {
  background-color: var(--secondary-background-color); }

.footer {
  padding-bottom: 1em;
  color: var(--text-color-dimmed);
  position: relative;
  padding-top: 100px;
  padding-bottom: 2rem;
  clip-path: border-box polygon(0 100px, 0 100%, 100% 100%, 100% 0); }
  .footer a {
    color: var(--text-color); }
    .footer a:hover {
      color: var(--link-color); }
  .footer i {
    font-size: 1.5rem; }
  .footer .icons {
    gap: 0.5rem; }

.error-icon {
  color: var(--error-color);
  margin-right: 0.5em; }

a {
  color: var(--link-color); }
  a .disabled {
    pointer-events: none;
    cursor: default; }
  a:hover {
    color: var(--link-color); }

.dropdown {
  color: var(--heading-color); }

.dropdown-menu {
  background-color: var(--secondary-bg-color); }

.dropdown-item {
  color: var(--heading-color); }

thead, th {
  color: var(--heading-color); }

tr, .table-striped > tbody > tr:nth-of-type(2n) {
  color: var(--text-color); }

tbody > tr:nth-of-type(2n) {
  background-color: var(--secondary-bg-color); }

td {
  font-weight: 400;
  vertical-align: middle; }
  td > a {
    font-weight: 700;
    display: inline-block; }
  td > ul {
    padding-left: 1rem;
    margin: 0; }

.btn-pagination {
  padding-left: 1.25em;
  padding-right: 1.25em;
  color: var(--text-color);
  background-color: var(--secondary-bg-color); }
  .btn-pagination:hover {
    color: var(--heading-color); }
  .btn-pagination.active {
    color: var(--primary-color); }

.markdown-content:first-child {
  margin-top: 0 !important; }

.markdown-content h1 {
  font-size: 2em; }

.markdown-content h2 {
  font-size: 1.5em; }

.markdown-content h3 {
  font-size: 1.25em; }

.markdown-content h1, .markdown-content h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid var(--secondary-bg-color); }

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content .progress-report-heading {
  color: var(--heading-color); }

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25; }

.markdown-content blockquote {
  padding: 0 1em;
  color: var(--text-color);
  border-left: 0.25em solid var(--secondary-bg-color); }

.markdown-content img {
  width: 100%; }

.markdown-content .row {
  margin-bottom: 1em; }

.img-compare-container {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
  cursor: col-resize; }
  .img-compare-container > img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%; }

.img-clipper {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  box-shadow: 2px 0 var(--error-color); }
  .img-clipper > img {
    width: 200%;
    position: absolute;
    height: 100%; }

.img-cmp-label {
  position: absolute;
  z-index: 100;
  font-weight: 700;
  color: white;
  pointer-events: none;
  top: 50%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .img-cmp-label.before {
    left: 1rem; }
  .img-cmp-label.after {
    right: 1rem; }

.btn-tags {
  color: var(--text-color);
  border: 1px solid var(--primary-color); }
  .btn-tags:hover {
    color: var(--heading-color); }
  .btn-tags.active {
    color: var(--heading-color);
    background-color: var(--primary-color);
    border: none; }
    .btn-tags.active:hover {
      color: var(--main-bg-color); }

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
  height: 100%;
  padding: 1em; }
  .card-footer {
    color: var(--text-color);
    border: none;
    padding: 0; }
  .card.alternate-bg {
    background-color: var(--secondary-bg-color); }
  .card.animate {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; }
    .card.animate:hover {
      transform: translate3d(5px, -5px, 0);
      outline: 2px var(--tertiary-color) solid; }
  .card.ease-in {
    opacity: 0.0;
    transform: translate3d(0, 100px, 0); }
  .card.eased-in {
    opacity: 1.0;
    transform: translate3d(0px, 0, 0); }

.card-img-top {
  max-height: 250px;
  width: unset; }

.post-preview {
  height: 100%;
  min-height: 15em;
  max-height: 15em;
  padding: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@keyframes pulse {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }

.loading-logo {
  filter: var(--loading-icon-filter);
  width: 50px;
  animation: pulse 1s infinite alternate;
  animation-timing-function: ease-in-out; }

button.compat {
  font-weight: 700; }
  button.compat.on {
    border: none;
    color: black; }
    button.compat.on.perfect {
      background-color: var(--compat-perfect); }
    button.compat.on.playable {
      background-color: var(--compat-playable); }
    button.compat.on.ingame {
      background-color: var(--compat-ingame); }
    button.compat.on.menus {
      background-color: var(--compat-menus); }
    button.compat.on.intro {
      background-color: var(--compat-intro); }
    button.compat.on.nothing {
      background-color: var(--compat-nothing); }
  button.compat.off.perfect {
    color: var(--compat-perfect);
    border: 1px solid var(--compat-perfect); }
  button.compat.off.playable {
    color: var(--compat-playable);
    border: 1px solid var(--compat-playable); }
  button.compat.off.ingame {
    color: var(--compat-ingame);
    border: 1px solid var(--compat-ingame); }
  button.compat.off.menus {
    color: var(--compat-menus);
    border: 1px solid var(--compat-menus); }
  button.compat.off.intro {
    color: var(--compat-intro);
    border: 1px solid var(--compat-intro); }
  button.compat.off.nothing {
    color: var(--compat-nothing);
    border: 1px solid var(--compat-nothing); }

.compat-form {
  flex: 1; }

#compat-pagination-container div {
  padding-right: 0; }

.compat-status {
  margin-right: 0.25em; }
  .compat-status.Perfect {
    color: var(--compat-perfect); }
  .compat-status.Playable {
    color: var(--compat-playable); }
  .compat-status.Ingame {
    color: var(--compat-ingame); }
  .compat-status.Menus {
    color: var(--compat-menus); }
  .compat-status.Intro {
    color: var(--compat-intro); }
  .compat-status.Nothing {
    color: var(--compat-nothing); }

.form-outline .form-control ~ .form-label {
  color: var(--text-color); }

.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid var(--primary-color);
  border-bottom: 0.125rem solid var(--primary-color);
  border-left: 0.125rem solid var(--primary-color); }

.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid var(--primary-color);
  border-bottom: 0.125rem solid var(--primary-color);
  border-right: 0.125rem solid var(--primary-color); }

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-bottom: .125rem solid;
  border-color: var(--primary-color); }

.form-outline .form-control:focus ~ .form-label {
  color: var(--primary-color); }

#compat-search {
  color: var(--heading-color); }

.docs-iframe {
  height: 100%;
  width: 100%; }

.hide-overflow {
  overflow: hidden; }

@media (max-width: 575.98px) {
  div > .artifact-button:not(:first-child) {
    margin-top: 2em; }
  .pagination-container {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; } }

.artifact-dropdown {
  text-transform: unset;
  font-size: 1em; }

.release-type-title {
  font-weight: 700; }

.version-text {
  color: var(--accent-color); }

.release-tag {
  font-weight: 700; }

.release-row {
  padding: 0.5em;
  padding-right: 0;
  border-radius: 0.5em;
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 2px;
  margin-bottom: 1em;
  background-color: var(--half-background-color); }
  .release-row-details {
    padding-left: 0.25em;
    padding-right: 0.25em; }

.release-notes {
  display: none; }

.release-date {
  color: var(--text-color-muted);
  font-style: italic; }

.release-notes-toggle-container {
  padding-right: 0; }

.release-notes-toggle {
  font-style: italic;
  color: var(--text-color-muted);
  transition: color .15s ease-in-out; }
  .release-notes-toggle:hover {
    color: var(--primary-color);
    transition: color .15s ease-in-out; }

.release-artifacts {
  padding-right: 0; }

.release-artifact-icon {
  margin-right: 0.25em;
  font-size: 1.5em;
  color: var(--primary-color);
  transition: color .15s ease-in-out; }
  .release-artifact-icon:hover {
    color: var(--primary-color);
    transition: color .15s ease-in-out; }

.release-no-previous-text {
  text-align: center; }

.pr-additions {
  color: #3fb950; }

.pr-deletions {
  color: #f85149; }

.home-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-right: 0 !important;
  padding-left: 0 !important;
  clip-path: border-box polygon(0 0, 0 100%, 100% calc(100% - 10vw), 100% 0); }
  .home-header-contents {
    flex-direction: column;
    align-items: center;
    display: flex;
    grid-area: 1/1/1/1;
    color: white;
    z-index: 999; }

.splash-title {
  color: var(--heading-color-white);
  font-weight: 700;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; }

.splash-description {
  font-weight: 700;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  font-style: italic; }

.stroke-text {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; }

#splash-screen-gui {
  top: 10%;
  right: 0;
  position: absolute; }

#splash-screen {
  grid-area: 1/1/1/1;
  background-image: url("/PCSX2.github.io/img/poor-perf-splash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.skeleton-container {
  background-color: var(--main-bg-color);
  border: unset;
  margin: unset;
  max-width: unset; }

.skeleton {
  background-color: var(--main-bg-color); }

@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important; }
  .w-sm-50 {
    width: 50% !important; }
  .w-sm-75 {
    width: 75% !important; }
  .w-sm-100 {
    width: 100% !important; } }

@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important; }
  .w-md-50 {
    width: 50% !important; }
  .w-md-75 {
    width: 75% !important; }
  .w-md-100 {
    width: 100% !important; } }

@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important; }
  .w-lg-50 {
    width: 50% !important; }
  .w-lg-75 {
    width: 75% !important; }
  .w-lg-100 {
    width: 100% !important; } }

@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important; }
  .w-xl-50 {
    width: 50% !important; }
  .w-xl-75 {
    width: 75% !important; }
  .w-xl-100 {
    width: 100% !important; } }
