@import url('https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
  /* dark-theme */
  --main-bg-color: #16161a;
  --secondary-bg-color: #242629;
  --tertiary-bg-color: #0b0b0d;
  --heading-color: #fffffe;
  --text-color: #94a1b2;
  --primary-color: #AB47BC; /*#7f5af0;*/
  --tertiary-color: #2cb67d;
  --stroke-color: #010101;
  --error-color: #f25042;
  /* light-theme */
  /* controller colors */
  --controller-triangle: #00d4ca;
  --controller-circle: #ff5653;
  --controller-cross: #8dbbf2;
  --controller-square: #f887d6;
  /* compat colors */
  --compat-perfect: #BA68C8;
  --compat-playable: #9CCC65;
  --compat-ingame: #29B6F6;
  --compat-menus: #FBC02D;
  --compat-intro: #F57C00;
  --compat-nothing: #D32F2F;
}

/* Sizing / Spacing */

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.flex-gap * {
  margin: 0.5rem;
}

/* General Classes */

.tertiary-color {
  color: var(--tertiary-color);
}

.markdown-content > :first-child {
  margin-top: 0 !important;
}

.markdown-content h1 {
	padding-bottom: .3em;
	font-size: 2em;
	border-bottom: 1px solid var(--secondary-bg-color);
  color: var(--heading-color);
}

.markdown-content h2 {
	padding-bottom: .3em;
	font-size: 1.5em;
	border-bottom: 1px solid var(--secondary-bg-color);
  color: var(--heading-color);
}

.markdown-content h3 {
	font-size: 1.25em;
  color: var(--heading-color);
}

.markdown-content h1, .markdown-content h2, .markdown-content h3, .markdown-content h4, .markdown-content h5, .markdown-content h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
}

.markdown-content blockquote {
  padding: 0 1em;
  color: var(--text-color);
  border-left: .25em solid var(--secondary-bg-color);
}

.progress-report-heading {
  color: var(--heading-color);
}

.markdown-content img {
  width: 100%;
}

.markdown-content .row {
  margin-bottom: 1em;
}

.img-compare-container {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
  cursor: col-resize;
}

.img-compare-container > img {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}

.img-clipper {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  box-shadow: 2px 0 var(--error-color);
}

.img-clipper img {
  width: 200%;
  position: absolute;
  height: 100%;
}

.img-cmp-label {
  position: absolute;
  z-index: 100;
  font-weight: 700;
  color: white;
  pointer-events: none;
  top: 50%;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.img-cmp-label.before {
  left: 1rem;
}

.img-cmp-label.after {
  right: 1rem;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Lexend', sans-serif;
}

h1, h2 {
  font-weight: 700;
  color: var(--heading-color);
}

#content {
  padding: 0;
}

.colored-spacer {
  background-color: var(--half-background-color);
}

.page-header {
  font-weight: 700;
}

.btn > i {
  margin: 0;
  margin-right: 0.5em;
}

.no-horizontal-margins {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.btn-color-triangle {
  background-color: var(--controller-triangle);
  color: #000;
  font-weight: 700;
}

.btn-color-circle {
  background-color: var(--controller-circle);
  color: #000;
  font-weight: 700;
}

.btn-color-cross {
  background-color: var(--controller-cross);
  color: #000;
  font-weight: 700;
}

.btn-color-square {
  background-color: var(--controller-square);
  color: #000;
  font-weight: 700;
}

.ad {
  background-color: var(--half-background-color);
  color: var(--text-color-muted);
}

.footer {
  margin-bottom: 1em;
  color: var(--text-color-dimmed);
}

.footer-link-list {
  padding-left: 0.5em;
  list-style-type: none;
}

.footer-link-list li a {
  color: var(--text-color);
}

.footer-link-list li a:hover {
  color: var(--primary-color);
}

.btn {
  display: flex;
  align-items: center;
}

.btn-primary {
  color: var(--text-color-alternate);
  background-color: var(--primary-color);
}

.btn.disabled, .btn:disabled {
  color: var(--text-color);
	background-color: var(--primary-color-bg);
}

.error-icon {
  color: var(--error-color);
  margin-right: 0.5em;
}

.loading-logo {
  filter: invert(99%) sepia(91%) saturate(0%) hue-rotate(116deg) brightness(106%) contrast(100%);
  width: 50px;
  animation: pulse 1s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

a {
  color: var(--primary-color);
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

a.disabled > i {
  color: var(--primary-color-bg);
}

a:hover {
  color: var(--primary-color);
}

.dropdown {
  color: var(--heading-color);
}

.dropdown-menu {
  background-color: var(--secondary-bg-color);
}

.dropdown-item {
  color: var(--heading-color);
}

thead, th {
  color: var(--heading-color);
}

tr, .table-striped > tbody > tr:nth-of-type(2n) {
  color: var(--text-color);
}

tbody > tr:nth-of-type(2n) {
  background-color: var(--half-background-color);
}

td > a {
  font-weight: 700;
  display: inline-block;
}

td > ul {
  padding-left: 1rem;
}

td {
  font-weight: 400;
  vertical-align: middle;
}

td > ul {
  margin: 0;
}

.btn-pagination {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1em;
  font-size: 0.9rem;
  color: var(--heading-color);
  background-color: var(--primary-color);
}

.btn-pagination:hover {
  color: var(--text-color);
}

.btn-pagination.active {
  background-color: var(--accent-color);
}

.skeleton-container {
  background-color: var(--background-color);
  border: unset;
  margin: unset;
  max-width: unset;
}

.skeleton {
  background-color: var(--background-color);
}

.btn > .spinner-border {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  margin-right: 1em;
}


/* Navigation */

.navbar.scrolled {
  background-color: #16161a;
  border-bottom-color: #2cb67d;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.navbar:not(.scrolled) ul.left-align-when-collapsed {
  align-items: flex-start !important;
}

.nav-icon {
  padding-right: 0.5em;
}

.nav-link {
  display: inline-block;
}

.navbar-brand {
  visibility: hidden;
  padding: 0;
}

.navbar-brand.scrolled {
  visibility: visible;
}

.navbar-toggler {
  padding-left: 0;
}

.navbar-brand, .nav-link {
  font-weight: 700;
  color: var(--heading-color) !important;
  transition: color .05s ease-in-out;
}

.navbar-brand:hover, .nav-link:hover {
  color: var(--primary-color) !important;
  transition: color .05s ease-in-out;
}

.logo-text {
  margin-left: 0.25em;
  margin-bottom: 0;
}

.navbar-brand {
  align-items: center;
}

.brand-logo {
  height: 2em;
}

#language-dropdown {
  padding: 0;
  background-color: unset;
  box-shadow: none;
  font-size: 1rem;
}

#language-dropdown-container {
  margin-right: 1rem;
}

.theme-icon {
  color: #f4ff6e;
}

/* Fancy Homescreen Splash */

.home-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.home-header-contents {
  flex-direction: column;
  align-items: center;
  display: flex;
  grid-area: 1/1/1/1;
  color: white;
}

.splash-title {
  font-weight: 700;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}

.splash-description {
  font-weight: 700;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
  font-style: italic;
}

#splash-screen-gui {
  top: 10%;
  right: 0;
  position: absolute;
}

#splash-screen {
  grid-area: 1/1/1/1;
  background-image: url('/img/poor-perf-splash.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Cards */

.card {
  opacity: 0.0;
  transform: translate3d(100px,0,0);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-bg-color);
  height: 100%;
  padding: 1em;
}

.card-footer {
  color: var(--text-color);
  border: none;
}

.card.alternate-bg {
  background-color: var(--secondary-bg-color);
}

.card.from-left {
  transform: translate3d(-100px,0,0);
}

@media (prefers-reduced-motion: no-preference) {
  .card.ease-in {
    opacity: 1.0;
    transform: translate3d(0px,0,0);
  }
}

.card:hover {
  transform: translate3d(5px, -5px, 0);
  transition: color .15s ease-in-out;
  outline: 2px var(--tertiary-color) solid;
}

.btn-outline-info:hover {
  color: var(--primary-color);
}

.card-img-top {
  max-height: 250px;
  width: unset;
}

button .material-icons-outlined {
  margin-left: 0;
}

.post-preview {
  height: 100%;
  min-height: 15em;
  max-height: 15em;
  padding: 1em;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.text-truncate {
  white-space: unset;
}

/* Compatibility Page */

button.compat-perfect.compat-filter-off {
  font-weight: 700;
  border: 1px solid var(--compat-perfect);
  color: var(--compat-perfect);
}

button.compat-perfect.compat-filter-on {
  font-weight: 700;
  border: none;
  background-color: var(--compat-perfect);
  color: black;
}

button.compat-playable.compat-filter-off {
  font-weight: 700;
  border: 1px solid var(--compat-playable);
  color: var(--compat-playable);
}

button.compat-playable.compat-filter-on {
  font-weight: 700;
  border: none;
  background-color: var(--compat-playable);
  color: black;
}

button.compat-ingame.compat-filter-off {
  font-weight: 700;
  border: 1px solid var(--compat-ingame);
  color: var(--compat-ingame);
}

button.compat-ingame.compat-filter-on {
  font-weight: 700;
  border: none;
  background-color: var(--compat-ingame);
  color: black;
}

button.compat-menus.compat-filter-off {
  font-weight: 700;
  border: 1px solid var(--compat-menus);
  color: var(--compat-menus);
}

button.compat-menus.compat-filter-on {
  font-weight: 700;
  border: none;
  background-color: var(--compat-menus);
  color: black;
}

button.compat-intro.compat-filter-off {
  font-weight: 700;
  border: 1px solid var(--compat-intro);
  color: var(--compat-intro);
}

button.compat-intro.compat-filter-on {
  font-weight: 700;
  border: none;
  background-color: var(--compat-intro);
  color: black;
}

button.compat-nothing.compat-filter-off {
  font-weight: 700;
  border: 1px solid var(--compat-nothing);
  color: var(--compat-nothing);
}

button.compat-nothing.compat-filter-on {
  font-weight: 700;
  border: none;
  background-color: var(--compat-nothing);
  color: black;
}

.compat-form {
  flex: 1;
}

#compat-pagination-container div {
  padding-right: 0;
}

.compat-status-Perfect {
  color: var(--compat-perfect);
  margin-right: 0.25em;
}

.compat-status-Playable {
  color: var(--compat-playable);
  margin-right: 0.25em;
}

.compat-status-Ingame {
  color: var(--compat-ingame);
  margin-right: 0.25em;
}

.compat-status-Menus {
  color: var(--compat-menus);
  margin-right: 0.25em;
}

.compat-status-Intro {
  color: var(--compat-intro);
  margin-right: 0.25em;
}

.compat-status-Nothing {
  color: var(--compat-nothing);
  margin-right: 0.25em;
}

.form-outline .form-control ~ .form-label {
  color: var(--text-color-dimmed);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
	border-top: .125rem solid var(--primary-color);
	border-bottom: .125rem solid var(--primary-color);
	border-left: .125rem solid var(--primary-color);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
	border-top: .125rem solid var(--primary-color);
	border-bottom: .125rem solid var(--primary-color);
	border-right: .125rem solid var(--primary-color);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
	border-bottom: .125rem solid;
	border-color: var(--primary-color);
}

.form-outline .form-control:focus ~ .form-label {
	color: var(--primary-color);
}

.btn-primary {
  color: var(--heading-color);
}

.btn-primary:focus {
	background-color: var(--primary-color);
}

.btn-primary.focus, .btn-primary:hover {
	background-color: var(--primary-color);
}

#compat-search {
  color: var(--text-color);
}

/* Documentation Page */

.docs-iframe {
  height: 100%;
  width: 100%;
}

.hide-overflow {
  overflow: hidden;
}

/* Releases Page */

@media (max-width: 575.98px) {
  div > .artifact-button:not(:first-child) {
    margin-top: 2em;
  }
  .pagination-container {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
}

.artifact-dropdown {
  text-transform: unset;
  font-size: 1em;
}

.release-type-title {
  font-weight: 700;
}

.version-text {
  color: var(--accent-color);
}

.release-tag {
  font-weight: 700;
}

.release-row {
  padding: 0.5em;
  padding-right: 0;
  border-radius: 0.5em;
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 2px;
  margin-bottom: 1em;
  background-color: var(--half-background-color);
}

.release-row-details {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.release-notes {
  display: none;
}

.release-date {
  color: var(--text-color-muted);
  font-style: italic;
}

.release-notes-toggle-container {
  padding-right: 0;
}

.release-notes-toggle {
  font-style: italic;
  color: var(--text-color-muted);
  transition: color .15s ease-in-out;
}

.release-notes-toggle:hover {
  color: var(--primary-color);
  transition: color .15s ease-in-out;
}

.release-artifacts {
  padding-right: 0;
}

.release-artifact-icon {
  margin-right: 0.25em;
  font-size: 1.5em;
  color: var(--primary-color);
  transition: color .15s ease-in-out;
}

.release-artifact-icon:hover {
  color: var(--primary-color);
  transition: color .15s ease-in-out;
}

details > div {
  margin-top: 0.5em;
}

.release-no-previous-text {
  text-align: center;
}

.pr-additions {
  color: #3fb950;
}

.pr-deletions {
  color: #f85149;
}
