{{ define "main" }}
<div class="container-fluid home-header align-middle">
  <div id="splash-screen" class="vh-60"></div>
  <div class="container d-flex justify-content-center home-header-contents">
    <h1 class="splash-title" id="navbarScrollTarget">PCSX2</h1>
    <p class="splash-description">An Open-Source Playstation 2 Emulator</p>
  </div>
</div>
<div class="container-fluid">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>About the Project</h2>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Being almost as old as the console it is emulating, PCSX2 not only has a lot of history behind it,
                but a continually evolving future.</p>
            </div>
          </div>
          <!-- TODO - make an about page -->
          <!-- <div class="row">
            <div class="button d-flex">
              <a role="button" class="btn btn-primary" href="/tags/progress-report/">
                View More
              </a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-8">
        <div class="container">
          <div class="row mt-3">
            <div class="col">
              <p>
                PCSX2 is a free and open-source PlayStation 2 (PS2) emulator. Its purpose is to emulate the PS2's
                hardware,
                using a combination of MIPS CPU <a href="https://en.wikipedia.org/wiki/Interpreter_(computing)"
                  target="_blank" rel="noopener noreferrer">Interpreters</a>, <a href="https://en.wikipedia.org/wiki/Dynamic_recompilation"
                  target="_blank" rel="noopener noreferrer">Recompilers</a> and a <a href="https://en.wikipedia.org/wiki/Virtual_machine"
                  target="_blank" rel="noopener noreferrer">Virtual Machine</a> which manages hardware
                states and PS2 system memory.
              </p>
              <p>
                The project has been running for almost 20 years. Past versions could only run a few public domain
                game demos, but newer versions can run most games at full speed, including popular titles such as Final
                Fantasy X and Devil May Cry 3.
              </p>
              <p>
                PCSX2 allows you to play PS2 games on your PC, with many additional features
                and benefits. A few of those benefits include:
              </p>
              <ul>
                <li>custom resolutions and upscaling</li>
                <li>virtual and sharable memory cards</li>
                <li>save-states</li>
                <li>patching system</li>
                <li>internal recorder to achieve lossless quality at full speed</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vGap100"></div>
<div class="container-fluid polygon">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-4 mt-5 mt-md-0 mb-5 mb-md-0 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Progress Reports</h2>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>Stay up to date on the latest improvements and fixes on the project</p>
            </div>
          </div>
          <div class="row">
            <div class="button d-flex">
              <a role="button" class="btn btn-primary" href="/tags/progress-report/">
                View More
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container">
          <div class="row mt-3">
            {{ range .Site.RegularPages.RelatedTo (keyVals "tags" "progress-report") | first 2 }}
            {{ partial "post-card.html" (dict "context" $ "post" . "alternateBackground" true "animate" true)
            }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vGap100"></div>
<div class="container-fluid">
  <div class="container pt-5 pb-5">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-8">
        <div class="container">
          <div class="row mt-3">
            {{ range .Site.RegularPages.RelatedTo (keyVals "tags" "devblog") | first 2 }}
            {{ partial "post-card.html" (dict "context" $ "post" . "animate" true) }}
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Blog Posts</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p>Articles that go more in-depth on how things work, how they were fixed, or sometimes why they don't</p>
            </div>
          </div>
          <div class="row">
            <div class="button d-flex">
              <a role="button" class="btn btn-primary" href="/tags/devblog/">
                View More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script defer src="/js/vendor/three@0.131.3/three.min.js"></script>
{{/*  <script src="https://unpkg.com/dat.gui@0.7.7/build/dat.gui.min.js"></script>  */}}
<script defer src="/js/tower-gfx.js"></script>
{{ end }}
