<svg class="angled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="height: 10vh;width: 100%;{{ if not (.IsHome) }}margin-top:10em;{{ end }}">
  {{ if .IsHome }}
  <polygon points="0,0 0,100 100,0" fill="#0b0b0d"></polygon>
  {{ else }}
  <polygon points="0,0 0,100 100,100" fill="#0b0b0d"></polygon>
  {{ end }}
</svg>
<div class="footer" {{ if not (.IsHome) }}style="background-color: #0b0b0d;"{{ end }}>
  <div class="container p-3">
    <div class="row mt-5">
      <div class="col-4">
        <div class="row">
          <div class="col d-flex justify-content-start">
            <span class="d-flex align-items-center">
              <img class="brand-logo" src="/img/pcsx2-logo.png" alt="PCSX2 Logo">
              <h3 class="logo-text">PCSX2</h3>
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            An Open-Source Playstation 2 Emulator
          </div>
        </div>
      </div>
      <div class="col-4 offset-md-4">
        <div class="row">
          <div class="col d-flex justify-content-start">
            <h3>Links</h3>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col d-flex justify-content-start">
            <ul class="footer-link-list">
              {{ range .Site.Params.social }}
              <li>
                <a href="{{ .url }}" {{ if in .url "http" }}target="blank" {{ end }}>
                  <span>
                    <i class="nav-icon {{ .icon }}"></i>
                    {{ .name }}
                  </span>
                </a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col d-flex justify-content-start">
        © {{ dateFormat "2006" now }} PCSX2. All Rights Reserved.
      </div>
    </div>
  </div>
</div>

