<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon.png" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
  <link href="{{ .Site.BaseURL }}/css/thirdparty/skeleton-loading.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,300;0,400;0,700;1,400&display=swap">
  {{ $sass := resources.Get "sass/main.sass" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <!-- deferred javascript, used on every page -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
  <script defer src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
  <script defer src="{{ .Site.BaseURL }}/js/misc.js"></script>
  <script defer src="{{ .Site.BaseURL }}/js/navbar.js"></script>
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}
  {{ $title = print .Site.Title " | A PS2 Emulator" }}
  {{ end }}
  <title>{{ $title }}</title>
</head>
