<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ if .Params.summary }}{{ .Params.summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ end }}"/>
  <meta name="author" content="PCSX2">
  <meta name="copyright" content="PCSX2">
  <!-- OpenGraph Tags -->
  {{ template "_internal/opengraph.html" . }}
  <link rel="shortcut icon" href="/img/favicon.webp" />
  <!-- Grid and Component Design -->
  <link href="/css/vendor/mdb-ui-kit@3.10.2/mdb.min.css" rel="stylesheet" />
  <link href="/css/vendor/font-awesome@6.1.1/all.min.css" rel="stylesheet">
  <!-- Theme CSS -->
  <link href="/css/thirdparty/skeleton-loading/skeleton-loading.min.css" rel="stylesheet" />
  {{ $sass := resources.Get "sass/main.sass" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ $title := print .Site.Title " - " .Title }}
  <title>{{ $title }}</title>
  <link href="/css/vendor/cookieconsent@3.1.1/cookieconsent.min.css" rel="stylesheet" />
<!-- RSS -->
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>
