<nav class="navbar navbar-dark bg-faded sticky-top justify-content-center navbar-expand-lg">
  <div class="container pl-5">
    <a class="navbar-brand d-block d-lg-none" href="/">
      <img class="brand-logo lazy" data-src="/img/pcsx2-logo.webp" alt="PCSX2 Logo">
    </a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <a class="navbar-brand d-none d-lg-block" href="/">
        <img class="brand-logo lazy" data-src="/img/pcsx2-logo.webp" alt="PCSX2 Logo">
      </a>
      <ul class="navbar-nav nav-middle pe-3 pe-md-0 justify-content-center">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}" {{ if in .URL "http" }}target="blank" {{ end }}>{{ .Name | safeHTML }}</a>
        </li>
        {{ end }}
      </ul>
      <div class="navbar-divider d-none d-lg-block">&nbsp;</div>
      <!-- External Links -->
      <ul class="navbar-nav nav-right pe-3 pe-md-0 justify-content-end">
        {{ if gt (len .Site.Params.social) }}
        {{ range .Site.Params.social }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .url }}" {{ if in .url "http" }}target="blank" {{ end }}>
            {{ .name }}
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      <!-- Translations -->
      {{ if gt (len .Site.Home.AllTranslations) 1 }}
      <div class="navbar-divider d-none d-lg-block">&nbsp;</div>
      <ul class="navbar-nav nav-right pe-3 pe-md-0 justify-content-end"></ul>
        <li class="nav-item">
          <div class="dropdown" id="language-dropdown-container">
            <button class="btn btn-primary dropdown-toggle" type="button" id="language-dropdown"
              data-mdb-toggle="dropdown" aria-expanded="false" data-mdb-ripple-duration="none">
              🇺🇸
            </button>
            <ul class="dropdown-menu dropdown-menu-end" id="language-dropdown-list" aria-labelledby="language-dropdown">
              {{ range $.Site.Home.AllTranslations }}
              <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
              {{ end }}
            </ul>
          </div>
        </li>
      </ul>
      {{ end }}
      <div class="navbar-divider d-none d-lg-block">&nbsp;</div>
      <!-- Settings -->
      <ul class="navbar-nav nav-right pe-3 pe-md-0 justify-content-end">
        <li class="nav-item nav-link d-flex align-items-center">
          <div>
            <input type="checkbox" class="theme-toggle" id="theme-toggle">
            <label for="theme-toggle" class="theme-toggle-label">
              <i class="fas fa-sun"></i>
              <i class="fas fa-moon"></i>
              <span class="theme-toggle-ball"></span>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
