<div class="col-12">
  <a href="{{ .post.RelPermalink }}">
    <div class="card{{ if eq .easeDirection "left" }} from-left{{ end }} text-white post-preview" style="background-image: linear-gradient( rgba(36,38,41, 0.5), rgba(36,38,41, 0.5) ), url({{ .post.Params.previewImage}});">
      <div class="row h-25">
        <div class="col card-title">
          <h3>{{ .post.Title }}</h3>
        </div>
      </div>
      <div class="row flex-fill d-inline-block text-truncate h-50" class="" style="max-width: calc(100%)">
        <div class="col">
          <p>{{ .post.Summary }}</p>
        </div>
      </div>
      <div class="row h-25">
        <div class="col d-flex justify-content-end align-items-end">
          {{ .post.Date | time.Format ":date_long" }}
        </div>
      </div>
    </div>
  </a>
</div>
