{{- $images := .post.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{ $imgBackground := "" }}

{{ with $featured }}
  {{ $imgURL := (printf "%s%s" $.post.RelPermalink $featured) }}
  {{ $imgBackground = (printf "background-image: linear-gradient( rgba(22,22,26, 0.5), rgba(22,22,26, 0.5)), url(%s);" $imgURL) | safeCSS }}
  {{ if eq $.alternateBackground true }}
    {{ $imgBackground = (printf "background-image: linear-gradient( rgba(36,38,41, 0.5), rgba(36,38,41, 0.5)), url(%s);" $imgURL) | safeCSS }}
  {{ end }}
{{ end }}

<div class="col-12 mb-4">
  <a href="{{ .post.RelPermalink }}">
    <div class="card {{ if eq .animate true }} ease-in {{ end }}animate post-preview{{ if eq .alternateBackground true }} alternate-bg{{ end }}" style="{{ $imgBackground }}">
      <div class="row h-25">
        <div class="col card-title {{ with $featured }}above-img {{ end }}link">
          <h3>{{ .post.Title }}</h3>
        </div>
      </div>
      <div class="row flex-fill d-inline-block text-truncate h-50">
        <div class="col card-summary {{ with $featured }}above-img{{ end }}">
          <p>{{ .post.Summary }}</p>
        </div>
      </div>
      <div class="card-footer row h-25">
        <div class="col d-flex justify-content-end align-items-end">
          {{ .post.Date | time.Format ":date_long" }}
        </div>
      </div>
    </div>
  </a>
</div>
