{{ $imgBackground := (printf "background-image: linear-gradient( rgba(22,22,26, 0.5), rgba(22,22,26, 0.5)), url(%s);" .post.Params.previewImage) }}
{{ if eq .alternateBackground true }}
  {{ $imgBackground = (printf "background-image: linear-gradient( rgba(36,38,41, 0.5), rgba(36,38,41, 0.5)), url(%s);" .post.Params.previewImage) }}
{{ end }}
<div class="col-12 mb-4">
  <a href="{{ .post.RelPermalink }}">
    <div class="card {{ if eq .animate true }} ease-in {{ end }}animate text-white post-preview{{ if eq .alternateBackground true }} alternate-bg{{ end }}" style="{{ $imgBackground | safeCSS }}">
      <div class="row h-25">
        <div class="col card-title link">
          <h3>{{ .post.Title }}</h3>
        </div>
      </div>
      <div class="row flex-fill d-inline-block text-truncate h-50">
        <div class="col">
          <p>{{ .post.Summary }}</p>
        </div>
      </div>
      <div class="card-footer row h-25">
        <div class="col d-flex justify-content-end align-items-end">
          {{ .post.Date | time.Format ":date_long" }}
        </div>
      </div>
    </div>
  </a>
</div>
