{{ define "main" }}
<script defer src="https://unpkg.com/dot@1.1.3/doT.min.js"></script>
<script defer src="https://unpkg.com/marked@4.0.8/marked.min.js"></script>
<script defer src="/js/release-page.js"></script>
<div class="container">
  <div class="row mt-5">
    <div class="row mb-3" id="outage-alert" style="display: none;">
      <div class="col">
        <div class="card text-white">
          <div class="row">
            <div class="col card-title">
              <h3><i class="fas fa-exclamation-triangle error-icon"></i>Unable to fetch release information. This can be
                due to:</h3>
            </div>
          </div>
          <div class="row text-truncate" class="" style="max-width: calc(100%)">
            <div class="col">
              <ul>
                <li>A critical backend service is experiencing an outage, <a
                    href="https://stats.uptimerobot.com/GAg8AuBByx">see our status page</a></li>
                <li>Your IP is being rate limited</li>
                <li>Something unexpected has occurred</li>
              </ul>
              <p>With the exception of the rate limiting issue, we are likely aware of the problem and are working on
                it / monitoring it.</p>
              <p>In the meantime, you may be able to download the releases directly <a
                  href="https://github.com/PCSX2/pcsx2/releases">from Github</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="release-type-title mt-3" id="stable-anchor">Stable Releases</h2>
    <p>
      Stable releases are infrequent but rigorously tested in comparison to the Nightly releases. Unless you
      require bleeding edge features or fixes for a particular game this is likely the releases type you are
      looking for in order to get the most consistent experience.
    </p>
    <p>
      For information on how to setup the latest stable release, see the included documentation in the download.
    </p>
    <p>
      If you encounter issues on the latest stable release, you can reach out for assistance on the <a
        href="https://discord.com/invite/TCz3t9k">Discord</a>.
    </p>
    <div class="skeleton-container">
      <div class="skeleton">
        <div class="skeleton-content">
          <div class="skeleton-text">
            <div class="skeleton-line" style="width: 25%"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="latest-release-notes"></div>
  </div>
  <div class="row mt-5" id="latest-release-artifacts"></div>
  <div class="row skeleton-wrapper">
    <div class="col d-flex justify-content-center">
      <div class="dropdown">
        <button class="btn btn-primary artifact-dropdown btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
          data-mdb-toggle="dropdown" aria-expanded="false" disabled>
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="dropdown">
        <button class="btn btn-primary artifact-dropdown btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
          data-mdb-toggle="dropdown" aria-expanded="false" disabled>
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="container text-center mt-5 mb-5 p-5 ad">Advertisement</div> -->
  <div class="row mt-5" id="stable-list">
    <h5>Stable Release List</h5>
  </div>
  <div class="row mt-2">
    <div class="table-responsive">
      <table class="table table-sm" id="stable-table">
        <thead>
          <tr>
            <th scope="col">Version</th>
            <th scope="col">Download Links</th>
            <th scope="col">Release Date</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody id="stable-table-body">
          {{- partial "downloads/skeleton-table.html" (dict "numRows" 3 "numCols" 4) -}}
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end mt-3 pagination-container" id="stable-pagination-container"></div>
  </div>

  <div class="row mt-5">
    <h2 class="release-type-title" id="nightly-anchor">Nightly Builds</h2>
    <p>
      Nightly builds are less tested than their stable release counterpart, but do under-go some amount of focused
      testing. The latest nightly build is equivalent to running the latest commit of the PCSX2 GitHub repository,
      in other words, you are getting the latest and (hopefully greatest) improvements.
    </p>
    <p>
      As a result, these releases are intended for those who want to, or require, being on the bleeding edge.
      Additionally they are a way to get additional testing on changes before they become part of an stable
      release.
    </p>
    <p>
      For information on how to use the nightly releases <a
        href="https://github.com/PCSX2/pcsx2/wiki/Nightly-Build-Usage-Guide" target="blank">see here</a>.
    </p>
    <div class="skeleton-container">
      <div class="skeleton">
        <div class="skeleton-content">
          <div class="skeleton-text">
            <div class="skeleton-line" style="width: 25%"></div>
          </div>
        </div>
      </div>
    </div>
    <div id="latest-nightly-notes"></div>
  </div>
  <div class="row mt-5" id="latest-nightly-artifacts"></div>
  <div class="row skeleton-wrapper">
    <div class="col d-flex justify-content-center">
      <div class="dropdown">
        <button class="btn btn-primary artifact-dropdown btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
          data-mdb-toggle="dropdown" aria-expanded="false" disabled>
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="dropdown">
        <button class="btn btn-primary artifact-dropdown btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
          data-mdb-toggle="dropdown" aria-expanded="false" disabled>
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="container text-center mt-5 mb-5 p-5 ad">Advertisement</div> -->
  <div class="row mt-5" id="nightly-list">
    <h5>Nightly Release List</h5>
  </div>
  <div class="row mt-2">
    <div class="table-responsive">
      <table class="table table-sm" id="nightly-table">
        <thead>
          <tr>
            <th scope="col">Version</th>
            <th scope="col">Download Links</th>
            <th scope="col">Release Date</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody id="nightly-table-body">
          <!-- skeleton loading -->
          {{- partial "downloads/skeleton-table.html" (dict "numRows" 3 "numCols" 4) -}}
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end mt-3 pagination-container" id="nightly-pagination-container"></div>
  </div>
  <div class="row mt-5">
    <h2 class="release-type-title" id="pr-anchor">Pull Request Builds</h2>
    <p>
      These are builds of in-progress work that has yet to merge into the projects codebase. Some pull requests
      may be abandoned for a variety of reasons as well. These builds are for those that are interested in
      assisting with the testing and code-review process. Otherwise, this provides an at a glance view of what
      we are working on.
    </p>
    <p>
      Note that you will require a GitHub account to download these builds from the GitHub Actions CI. And if
      you are interested in becoming a more official tester, you should consider reaching out in the <a
        href="https://discord.com/invite/TCz3t9k">Discord</a>. If you do end up testing a pull request build and
      find issues, it is preferrable to describe the issue with steps to reproduce the problem on the pull
      request itself.
    </p>
  </div>
  <div class="row mt-2" id="pull-requests-list">
    <div class="table-responsive">
      <table class="table table-sm" id="pull-request-table">
        <thead>
          <tr>
            <th scope="col">Author</th>
            <th scope="col">Pull Request</th>
            <th scope="col">Updated At</th>
            <th scope="col">Additions</th>
            <th scope="col">Deletions</th>
          </tr>
        </thead>
        <tbody id="pull-request-table-body">
          <!-- skeleton loading -->
          {{- partial "downloads/skeleton-table.html" (dict "numRows" 3 "numCols" 5) -}}
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end mt-3 pagination-container" id="pull-request-pagination-container"></div>
  </div>
</div>
{{ end }}
